<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>淘宝商城</title>
</head>
<script type="text/javascript" th:src="@{/assets/js/jquery.js}"></script>
<script>
    function queryProductDetail(productId) {
        var currentUrl = "http://portal.tuling.com:8855/product/"+productId;
        $.ajax({
            type: "GET",
            data: null,
            dataType: null,
            url: "http://portal.tuling.com:8855/product/"+productId,
            success: function(ret){
                if(ret.status=='-1') {
                    window.location.href="http://portal.tuling.com:8855/login.html?callBack="+currentUrl;
                }
            }
        });

    }
</script>


<body>
    <a href="http://portal.tuling.com:8855/product/1" >苹果11</a> <br/>
    <a href="http://portal.tuling.com:8855/product/2" >华为meta30</a><br/>
</body>
</html>