<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tuling.mapper.OrderInfoMapper" >

    <select id="selectOrderInfoById" resultType="com.tuling.entity.OrderInfo" parameterType="string">
      select * from order_info where order_no=#{orderNo}
    </select>
</mapper>