<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tuling.config.role.mapper.SysUserMapper">
    <select id="findByUserName" resultType="com.tuling.config.role.entity.SysUser" parameterType="string">
          select * from sys_user where username=#{userName}
    </select>
</mapper>